<% include partials/header %>

<div class="container">
  <div class="content">
    <h1 class="text-center">my cart</h1>
    <div class="lenses">
      <% lenses.forEach((lens) => { %>
        <div class="lense">
          <div class="lense__card">
            <div class="lense__card__image">
              <img src="<%= lens.image %>" alt="<%= lens.image %>">
            </div>
            <h3 class="lense__card__title"><%= lens.company %> | <%= lens.product_name %> | <%= lens.year %></h3>
          </div>
          <a href="/cart/<%= lens._id %>/delete">delete</a>
        </div>
      <% }); %>
    </div>
    <form action="/charge" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" 
        class="stripe-button"
        data-key="<%= pubkey %>"
        data-amount="<%= amount %>"
        data-locale="auto">
      </script>
    </form>
  </div>
</div>

<% include partials/footer %>