<% include partials/header %>

<div class="container">

  <div class="col-md-10 col-md-offset-1">
    <div class="description">
      <div class="col-md-6">
        <h3 class="description__left">
          lentil is a camera toolkit for production raytracers 
          capable of rendering images with high-order abberations 
          at a fraction of the cost of tracing rays through the 
          lens elements
        </h3>
      </div>
      <div class="col-md-6">
        <h3 class="description__right">
          the choice of lens greatly helps determine the feeling 
          of practical film. In computer graphics thus far, this 
          has been neglected. Our mission is to change this.
        </h3>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="log">
      <p class="text-center">
        <strong>lentil-arnold-2.2.1</strong> (2b6348a), released 25th January 18<br>
        <strong>lentil-vray-1.5</strong> (f24jf89a), released 23rd January 18<br>
        <strong>lentil-redshift-1.3</strong> (ajf019b), released 19th December 17<br>
      </p>
    </div>
  </div>

  <hr>

  <div class="filter">
    <form action="/">
      <div class="filterOpts">sort by: 
        <select name="filter" class="filter__filter__dropdown">
          <option value="focal" class="filter__filter__dropdown--option">focal length</option>
          <option value="year" class="filter__filter__dropdown--option">year</option>
        </select> | 
        <div class="dropdown">
          <span class="dropdown__title">
            company <span id="caret">&#9660;</span>
          </span>
          <ul class="dropdown__list" style="display: none;">
            <li class="dropdown__list__item">
              <label for="all">all</label><input type="checkbox" name="company"
                value="all" class="checkbox" id="all">
            </li>
            <% companies.forEach((company) => { %>
              <li class="dropdown__list__item">
                <label for="<%= company %>"><%= company %> </label><input type="checkbox" name="company"
                value="<%= company %>" class="checkbox" id="<%= company %>">
              </li>
            <% }); %>
          </ul>
        </div>
         | <button class="filter__btn">GO</button>
      </div>
    </form>
  </div>

</div>


<div class="container">
  <div class="lenses">
    <% for(let i = 0; i < lenses.length; i++) { %>
      <% let lens = lenses[i]; %>
      <div class="lense">
        <div class="lense__card lense__card--<%= [i] %>" id="card-<%= [i] %>">
          <div class="lense__card__image">
            <img src="<%= lens.image %>" alt="<%= lens.image %>">
          </div>
          <h3 class="lense__card__title"><%= lens.company %> | <%= lens.product_name %> | <%= lens.year %></h3>
    
          <% if(user) { %>
            <% if(user.lenses.indexOf(lens._id) == -1) { %>
              <% if(user.cart.indexOf(lens._id) == -1) { %>
                <a href="/<%= lens._id %>/add">Add to cart</a>
              <% } else { %>
                <p>Added to cart</p>
              <% } %>
            <% } else { %>
              <p>You own this!</p>
            <% } %>
          <% } %>
        </div>
        <div class="exp-lense">
          <div class="exp-lense__card exp-lense__card--<%= [i] %>" id="expcard-<%= [i] %>">
            <div class="col-md-5">
              <div class="exp-lense__card__info">
                <% if(lens.polynomial_optics) { %>
                  <div class="exp-lense__card__info__prop">
                    <span class="exp-lense__card__info__prop--key">focal lengths</span>
                    <span class="exp-lenses__card__info__prop--val">[<%= lens.polynomial_optics %>]</span>
                  </div>
                <% } %>
                <div class="exp-lense__card__info__prop">
                  <span class="exp-lense__card__info__prop--key">f-stop</span>
                  <span class="exp-lenses__card__info__prop--val">f<%= lens.fstop.toFixed(1) %></span>
                </div>
                <div class="exp-lense__card__info__prop">
                  <span class="exp-lense__card__info__prop--key">year</span>
                  <span class="exp-lenses__card__info__prop--val"><%= lens.year %></span>
                </div>
                <div class="exp-lense__card__info__prop">
                  <span class="exp-lense__card__info__prop--key">notes</span>
                  <span class="exp-lenses__card__info__prop--val"><%= lens.notes %></span>
                </div>
                <button href="/<%= lens._id %>/add" class="button">add to cart</button>
              </div>
            </div>
            <div class="twentytwenty-container">
              <img src="http://zenopelgrims.com/wp-content/uploads/2018/03/pota_chart_thinlens.png" alt="Arnold Thin-Lens" class="aligncenter size-full wp-image-2370" />
              <img src="http://zenopelgrims.com/wp-content/uploads/2018/03/polynomial-optics-arnold-zeiss-biotar-chromatic-aberration.png" alt="POTA Zeiss Biotar (1927)" class="aligncenter size-full wp-image-2368" />
              <img src="http://zenopelgrims.com/wp-content/uploads/2018/03/pota_test_thinlens.png" alt="Arnold Thin-Lens" class="aligncenter size-full wp-image-2372" />
              <img src="http://zenopelgrims.com/wp-content/uploads/2018/03/pota_test_petzval.png" alt="POTA Petzval (1900)" class="aligncenter size-full wp-image-2371" />
            </div>
          </div>
        </div>
      </div>
    <% }; %>
  </div>
</div>

<% include partials/footer %>