<% include partials/header %>

<div class="container">

  <div class="description">
    <div class="col-md-6">
      <h3 class="description__left">
        lentil is a camera toolkit for production raytracers 
        capable of rendering images with high-order abberations 
        at a fraction of the cost of tracing rays through the 
        lens elements
      </h3>
    </div>
    <div class="col-md-6">
      <h3 class="description__right">
        the choice of lens greatly helps determine the feeling 
        of practical film. In computer graphics thus far, this 
        has been neglected. Our mission is to change this.
      </h3>
    </div>
  </div>

  <hr>

  <div class="filter">
    <form action="/">
      <p>sort by: 
          <select name="filter" class="filter__filter__dropdown">
            <option value="focal" class="filter__filter__dropdown--option">focal length</option>
            <option value="year" class="filter__filter__dropdown--option">year</option>
          </select> | <span id="filter"><span id="company">company <span id="caret">&#9660;</span></span> | <button class="filter__btn">GO</button></p>
      <div class="filter__company" id="filterCompany">
        <% companies.forEach((company) => { %>
          <input type="checkbox" name="company"
            value="<%= company %>"
            > <%= company %>
        <% }); %>
        <input type="checkbox" name="company"
            value="all"
          > ALL
      </div>
    </form>
  </div>

</div>


<div class="container">
  <div class="lenses">
    <% for(let i = 0; i < lenses.length; i++) { %>
      <% let lens = lenses[i]; %>
      <div class="lense">
        <div class="lense__card lense__card--<%= [i] %>" id="card-<%= [i] %>">
          <div class="lense__card__image">
            <img src="<%= lens.image %>" alt="<%= lens.image %>">
          </div>
          <h3 class="lense__card__title"><%= lens.company %> | <%= lens.product_name %> | <%= lens.year %></h3>
    
          <% if(user) { %>
            <% if(user.lenses.indexOf(lens._id) == -1) { %>
              <% if(user.cart.indexOf(lens._id) == -1) { %>
                <a href="/<%= lens._id %>/add">Add to cart</a>
              <% } else { %>
                <p>Added to cart</p>
              <% } %>
            <% } else { %>
              <p>You own this!</p>
            <% } %>
          <% } %>
        </div>
        <div class="exp-lense">
          <div class="exp-lense__card exp-lense__card--<%= [i] %>" id="expcard-<%= [i] %>">
            <div class="col-md-4">
              <div class="exp-lense__card__info">
                <% if(lens.polynomial_optics) { %>
                  <p class="exp-lense__card__info__prop">
                    <span class="exp-lense__card__info__prop--key">focal lengths</span> <span class="exp-lenses__card__info__prop--val">[<%= lens.polynomial_optics %>]</span>
                  </p>
                <% } %>
                <p class="exp-lense__card__info__prop">
                    <span class="exp-lense__card__info__prop--key">f-stop</span> <span class="exp-lenses__card__info__prop--val">f<%= lens.fstop.toFixed(1) %></span>
                </p>
                <p class="exp-lense__card__info__prop">
                    <span class="exp-lense__card__info__prop--key">year</span> <span class="exp-lenses__card__info__prop--val"><%= lens.year %></span>
                </p>
                <p class="exp-lense__card__info__prop">
                    <span class="exp-lense__card__info__prop--key">notes</span> <span class="exp-lenses__card__info__prop--val"><%= lens.notes %></span>
                </p>
                <button href="/<%= lens._id %>/add" class="button">add to cart</button>
              </div>
            </div>
            <div class="col-md-8">
              <div class="twentytwenty-container">
                <img src="http://placehold.it/800x400&amp;text=1" />
                <img src="http://placehold.it/800x400&amp;text=2" />
              </div>
            </div>
          </div>
        </div>
      </div>
    <% }; %>
  </div>
</div>

<% include partials/footer %>