<% include partials/header %>

<div class="container">
  <h1 class="text-center">Lenses</h1>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
  <% if(user && user.cart) { %>
    <a href="/pay">Checkout</a>
  <% } %>
  
  <form action="/">
    <div class="form-group">
      <label for="filter">Filter by:</label>
      <select name="filter" id="filter">
        <option value="company">Company</option>
        <option value="product">Product</option>
        <option value="year">Year</option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-default">Go</button>
    </div>
  </form>
</div>

<div class="lenses">
  <% lenses.forEach((lens) => { %>
    <div class="col-md-4">
      <div class="lenses__card">
        <h3 class="text-center lenses__card__title"><%= lens.year %> <%= lens.company %> <%= lens.product_name %></h3>
        <img src="<%= lens.image %>" alt="<%= lens.image %>">
  
        <% if(user) { %>
          <% if(user.lenses.indexOf(lens._id) == -1) { %>
            <% if(user.cart.indexOf(lens._id) == -1) { %>
              <a href="/<%= lens._id %>/add">Add to cart</a>
            <% } else { %>
              <p>Added to cart</p>
            <% } %>
          <% } else { %>
            <p>You own this!</p>
          <% } %>
        <% } %>
      </div>
    </div>
  <% }); %>
</div>

<% include partials/footer %>