<% include partials/header %>

<div class="hero__background">
  <div class="container">
    <div class="hero">
      <h2 class="hero__header">
        <span class="hero__header--bold">lentil</span> is a camera toolkit for
        production raytracers capable of efficiently simulating light transport
        through <span class="hero__header--bold">real</span> lenses
      </h2>
      <h4 class="hero__subheader">
        The choice of lens greatly helps determine the feeling of practical
        film. In computer graphics thus far, this has been neglected. Our
        mission is to change this.
      </h4>
      <a href="/#lenses" class="hero__arrow-link">
        <i class="fas fa-chevron-down hero__arrow"></i>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="lenses" id="lenses">
    <% for(let i = 0; i < lenses.length; i++) { %> <% let lens = lenses[i]; %>
    <div class="lense">
      <div class="lense__card lense__card--<%= [i] %>" id="card-<%= [i] %>">
        <div class="lense__card__image">
          <% if(user) { %> <% if(user.lenses.indexOf(lens._id) > -1) { %>
          <button class="button button--icon button--green">purchased</button>
          <% } %> <% if(user.cart.indexOf(lens._id) > -1) { %>
          <button class="button button--icon button--green">in cart</button>
          <% } %> <% } %>
          <img src="<%= lens.image %>" alt="<%= lens.image %>" />
        </div>
        <ul class="lense__card__bubbles">
          <li class="lense__card__bubble">
            <%= lens.company %>
          </li>
          <li class="lense__card__bubble">
            <%= lens.product_name %>
          </li>
          <li class="lense__card__bubble">
            <%= lens.year %>
          </li>
        </ul>
      </div>
      <div class="exp-lense">
        <div
          class="exp-lense__card exp-lense__card--<%= [i] %>"
          id="expcard-<%= [i] %>"
        >
          <div class="col-md-4">
          <% let scroll %>
          <% if (lens.notes.length > 256) { %>
            <% scroll = 'exp-lense__card__info--scroll' %>
          <% } %>
            <div class="exp-lense__card__info <%= scroll %>">
              <% if(lens.polynomial_optics) { %>
              <div class="exp-lense__card__info__prop">
                <span class="exp-lense__card__info__prop--key"
                  >focal lengths</span
                >
                <span class="exp-lenses__card__info__prop--val"
                  ><%= lens.polynomial_optics %></span
                >
              </div>
              <% } %>
              <div class="exp-lense__card__info__prop">
                <span class="exp-lense__card__info__prop--key">f-stop</span>
                <span class="exp-lenses__card__info__prop--val"
                  >f<%= lens.fstop %></span
                >
              </div>
              <div class="exp-lense__card__info__prop">
                <span class="exp-lense__card__info__prop--key">year</span>
                <span class="exp-lenses__card__info__prop--val"
                  ><%= lens.year %></span
                >
              </div>
              <div class="exp-lense__card__info__prop">
                <span class="exp-lense__card__info__prop--key">notes</span>
                <span class="exp-lenses__card__info__prop--val">
                  <%= lens.notes %>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="twentytwenty-container exp-lense__2020">
              <img
                src="http://zenopelgrims.com/wp-content/uploads/2018/03/pota_chart_thinlens.png"
                data-src="http://zenopelgrims.com/wp-content/uploads/2018/03/pota_chart_thinlens.png"
                alt="Arnold Thin-Lens"
                class="aligncenter lazy"
              />
              <img
                src="http://zenopelgrims.com/wp-content/uploads/2018/03/pota_chart_thinlens.png"
                data-src="http://zenopelgrims.com/wp-content/uploads/2018/03/polynomial-optics-arnold-zeiss-biotar-chromatic-aberration.png"
                alt="POTA Zeiss Biotar (1927)"
                class="aligncenter lazy"
              />
              <img
                src="http://zenopelgrims.com/wp-content/uploads/2018/03/pota_chart_thinlens.png"                
                data-src="http://zenopelgrims.com/wp-content/uploads/2018/03/pota_test_thinlens.png"
                alt="Arnold Thin-Lens"
                class="aligncenter lazy"
              />
              <img
                src="http://zenopelgrims.com/wp-content/uploads/2018/03/pota_chart_thinlens.png"
                data-src="http://zenopelgrims.com/wp-content/uploads/2018/03/pota_test_petzval.png"
                alt="POTA Petzval (1900)"
                class="aligncenter lazy"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }; %>
  </div>
</div>

<% include partials/footer %>
