<% include partials/header %>

<h1 class="text-center">Lenses</h1>

<div class="col-md-6 col-md-offset-3">
  <% lenses.forEach((lens) => { %>
    <div class="thumbnail">
      <p><strong>commercial:</strong> <%= lens.commercial %></p>
      <p><strong>company:</strong> <%= lens.company %></p>
      <p><strong>focal-length-mm-patent:</strong> <%= lens.focal_length_mm_patent %></p>
      <p><strong>focal-length-mm-raytraced:</strong> <%= lens.focal_length_mm_raytraced %></p>
      <p><strong>fstop:</strong> <%= lens.fstop %></p>
      <p><strong>notes:</strong> <%= lens.notes %></p>
      <p><strong>patent-number:</strong> <%= lens.patent_number %></p>
      <p><strong>polynomial-optics:</strong> <%= lens.polynomial_optics %></p>
      <p><strong>prime:</strong> <%= lens.prime %></p>
      <p><strong>product-name:</strong> <%= lens.product_name %></p>
      <p><strong>production-ready:</strong> <%= lens.production_ready %></p>
      <p><strong>year:</strong> <%= lens.year %></p>

      <% if(user) { %>
        <a href="/<%= lens._id %>/purchase">Buy Now</a>
      <% } %>
    </div>
  <% }); %>
</div>

<% include partials/footer %>